// Try thinking CSS and HTML only as components and elements.
// If something becomes complicated, try rethinking and Googling.

// Core
@import './core/bulma';
@import './core/colors';

// Components
@import './components/button';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
