# Application
web/app/plugins/*
!web/app/plugins/json-api
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep


# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# NPM
node_modules/*
!vendor/.gitkeep

# YARN
yarn.lock

# Laravel Mix
mix-manifest.json
